body {
    background-image: url(http://image.gpm-server.de/back3.png);
    background-repeat: repeat;
    margin: 0;
    wtidth: device-width;
}

div#links a div{
    margin-top: 10px;
}



@font-face {
  font-family: mc;
  src: url('/../mc.TTF');
  font-size: 18pt;
}

@font-face {
    font-family: "mc_woff";
    src: url("/../mc.woff") format('woff');
}

* {
    font-family: mc, mc_woff;
}

a {
    color: #C0C0C0;
    text-shadow: 2px 2px 2px #3F3F3F;
    font-size: 18pt;
    text-decoration: none;
}

a:hover {
    color: #FFFFA0;
}

div#links a div {
    text-align: center;
}

div#links a div {
    background-image: url(http://image.gpm-server.de/no.png);
    background-repeat: no-repeat;
    background-size: 100% 40px;
    height: 40px;
}

div#links a div:hover {
    background-image: url(http://image.gpm-server.de/no_hover.png);
}

div#links {
    width: device-width;
    height: 40px;
    margin-bottom: 7%;
    margin-right: 10px;
    margin-left: 10px;
    margin-top: 20%;
}

div#mini {
    width: 400px;
    height: 40px;
}

div#mini a div {
    background-image: url(http://image.gpm-server.de/mini.png);
    background-repeat: no-repeat;
    height: 40px;
    width: 196px;
}

div#mini a div:hover {
    background-image: url(http://image.gpm-server.de/mini_hover.png);
}

div#mini a {
    width: 196px;
    height: 40px;
}

div#text h1 {
    color: white;
    text-align: center;
}

div#text {
    color: #D1D1D1;
}

div#section {
    width: 300px;
}

div#section h3 {
    color: #808080;
}

div#section a {
    color: #9EDBF8;
    font-size: 12pt;
    text-shadow: none;
    text-decoration: underline;
}
