h1, h2 {
	text-align: center;
	text-shadow: -1px 0px rgba(255,255,255,0.8), 0px 1px rgba(255,255,255,0.8), 1px 0px rgba(255,255,255,0.8), 0px -1px rgba(255,255,255,0.8), 0px 0px 12px rgba(255,255,255,0.8);
	
	font-size: 36px;
}

h1 {
	padding: 24px;
	background-color: PaleGreen;
	background-image: url(b2.png);
}

#login {
	float:right;
	position: relative;
	top: -114px; /* 36+18+2*24+12 */
	margin: 12px;
}

h2 {
	font-weight: 700;
}

p, li {
	font-size: 12px;
	list-style-type: none;
}

ul {
	text-align: left;
}

#Owner {
	color: OrangeRed;
}

#CM {
	color: Gold;
}

#Tech {
	color: SteelBlue;
}

#GPM {
	color: SeaGreen;
}

#Inaktiv {
	color: DarkGray;
	cursor: Help;
}


#Owner:after, #CM:after, #Tech:after, #GPM:after, #Inaktiv:after {
	content: " ";
}
#Owner, #CM, #Tech, #GPM, #Inaktiv {
	font-weight: 700;
}

#Motto {
	font-size: 18px;
	font-style: italic;
	
	color: #666;
}

.fancytext {

}

/* from http://phrappe.com/css/conditional-css-for-webkit-based-browsers/ */
@media screen and (-webkit-min-device-pixel-ratio:0) {  
/* CSS Statements that only apply on webkit-based browsers (Chrome, Safari, etc.) */  
	.fancytext {
		background: url(text.png) no-repeat;
		background-size: 100% 100%;
		-webkit-background-clip: text;
		-webkit-text-fill-color: transparent;

		text-shadow: none;
	}
}

body {
	font-family: 'Open Sans', sans-serif;
	background: url(color3.png);
	background-size: cover;
	background-attachment: fixed;
}

.eintracht {
	background: url(eintracht.png) left top;
	background-size: contain;
	transform: translateY(0.25em);
	width: 1.5em; 
	height: 1.5em;
	display: inline-block;
}

@media (min-width: 510px) {
    .serverlogo {
        background: url(server-icon-big.png) left top no-repeat;
        background-size: contain;
        padding: 54px;
        position: relative;
        top: 36px;
    }
}

.minecraft {
	background: url(minecraft.png) left top no-repeat;
	background-size: auto 100%;
	transform: translateY(0.25em);
	
	padding-left: 2em;
}

.team {
	color: #3D99A7;
}

#footer {
	position: fixed;
    bottom: 0px;
	height: 2em;
	width: 100%;
	padding: 0.5em;
	text-align: center;
	background-color: MediumSeaGreen;
	color: LightCyan;
	z-index: 100;
}

 #footer a {
	color: LightCyan;
	text-decoration: underline;
 }

.text {
	position: absolute;
	top: 84px; /* 2*36 + 12 */
	overflow: auto;
	
	height: 20em;
	padding: 6px;
	margin: 6px;
	
	color: rgba(255,255,255,0.9);
	text-shadow: 0px 0px 0.25em black;
}

#Team .text {
	height: 22em;
}

.textfooter {
	font-size: 18px;
	
	position: absolute;
	top: 360px; /* 30em @ 12px */
	width: 100%;
	text-align: center;
	padding-top: 0.5em;

	font-weight: 700;
	color: rgba(255,255,255,0.9);
	text-shadow: 0px 0px 0.25em black;
}

.textfooter a{
	color: rgba(255,255,255,0.9);
	text-shadow: 0px 0px 0.25em black;
	
	text-decoration: underline;
}

.textfootersmall a {
	color: rgba(255,255,255,0.9);
	text-shadow: 0px 0px 0.25em black;

	text-decoration: underline;
}

#TS {
	background-color: DarkSlateGray;
	background-image: url(fo.jpg);
}

#OpenTTD {
	background-color: Orange;
	background-image: url(openttdscreen.PNG);
	background-size: cover;
}

#CSS {
	background-color: Gray;
}

#Team {
	background-color: Gray;
	background-image: url(21503D358Ds.jpg);
	background-size: cover;
}

#ARK, #MC, #TS, #OpenTTD, #CSS, #Team {
	height: 30em;
	border: 1px #ddd solid;
	
	position: relative;
	top: 8em;
	
	padding: 1em;

	animation-name: scaleSmall;
	animation-timing-function: ease-in;
    animation-duration: 0.05s;
}


@media (max-width: 992px) {
    #ARK, #MC, #TS, #OpenTTD, #CSS {
        width: 100vw;
    }
}

@media (min-width: 992px) {
    #ARK:hover, #MC:hover, #TS:hover, #OpenTTD:hover, #CSS:hover, #Team:hover {
        animation-name: scaleBig;
        animation-timing-function: ease-in;
        animation-duration: 0.05s;

        transform: scale(1.10);
        z-index: 50;
    }

    #endspacer {
        height: 300px;
    }
}

@keyframes scaleSmall {
    from { transform: scale(1.10); }
    to { transform: scale(1.00); }
}

@keyframes scaleBig {
    from { transform: scale(1.00); }
    to { transform: scale(1.10); }
}

#tsviewer {
	width: 100%;
	border: 0px #ddd solid;
	
	height: 20em;
	padding: 0px;
	margin: 0px;
}

#openttdlogo {
    background: url(openttd.svg) left top no-repeat;
    background-size: auto 100%;
    transform: translateY(0.25em);

    padding-left: 2em;
    height: 1.5em;
}

.copyright {
    font-size: 6px;
}

#csslogo {
	height: 1em;
}

.spacer {
	height: 1em;
}

/* #ARK:hover + #MC { -webkit-filter: blur(2px); }
#MC:hover! + #ARK { -webkit-filter: blur(2px); } */

.vegas-overlay  {
	background-color: black;
	background-image: none;
}

::-webkit-scrollbar {
    width: 6px;
}

::-webkit-scrollbar-thumb {
    border-radius: 3px;
    background: rgba(100,100,100,0.8); 
	border: 1px solid rgba(255,255,255,0.8);
}
::-webkit-scrollbar-thumb:window-inactive {
	background: rgba(100,100,100,0.4);
}