body {
font-family:Century Gothic,sans-serif;
font-size:15px;
color:#949494;
}


a:link {
text-decoration:none;
color:#949494;
}
a:visited {
text-decoration:none;
color:#949494;
}
a:hover {
text-decoration:none;
color:#FF9800;
}


th {
font-weight:bold;
text-align:center;
}


.green {
color:green;
}
.red {
color:red;
}
.blue {
color:blue;
}