body {
    background-image: url(background.png);
    background-repeat: repeat;
    margin: 0;
}

div#links div {
    margin-top: 10px;
}

@font-face {
  font-family: mc;
  src: url('http://steph.gpm-server.de/mc.TTF');
  font-size: 18pt;
}

@font-face {
    font-family: "mc_woff";
    src: url("http://steph.gpm-server.de/mc.woff") format('woff');
}

* {
    font-family: mc, mc_woff, Arial;
}

a {
    color: #C0C0C0;
    text-shadow: 2px 2px 2px #3F3F3F;
    font-size: 18pt;
    text-decoration: none;
}

a:hover {
    color: #FFFFA0;
}

a div {
    text-align: center;
    margin: auto;
}

a div {
    background-image: url(no.png);
    background-repeat: no-repeat;
    height: 40px;
    width: 400px;
}

a div:hover {
    background-image: url(no_hover.png);
}

div#links {
    width: 400px;
    height: 40px;
    margin-top: 5%;
    margin-bottom: 7%;
}

div#nav_serverinfo {
    margin-top: 210px;
    color: #BCBCBC;
    opacity: 0.5;
}

div#nav_serverinfo:hover {
    opacity: 1;
}

a#linka {
    color: #BCBCBC;
    font-size: 5pt;
    text-shadow: none;
    text-decoration: underline;
    opacity: 0;    
}

a#linka:hover {
    opacity: 1;
}