h1, h2 {
	text-align: center;
	text-shadow: -1px 0px rgba(255,255,255,0.8), 0px 1px rgba(255,255,255,0.8), 1px 0px rgba(255,255,255,0.8), 0px -1px rgba(255,255,255,0.8), 0px 0px 12px rgba(255,255,255,0.8);
	
	font-size: 36px;
}

h2 {
	font-weight: 700;
}

p, li {
	font-size: 12px;
	list-style-type: none;
}

ul {
	text-align: left;
}

#Owner {
	color: OrangeRed;
}

#CM {
	color: Gold;
}

#Tech {
	color: SteelBlue;
}

#GPM {
	color: SeaGreen;
}


#Owner:after, #CM:after, #Tech:after, #GPM:after {
	content: " ";
}
#Owner, #CM, #Tech, #GPM {
	font-weight: 700;
}

#Motto {
	font-size: 18px;
	font-style: italic;
	
	color: #666;
}

.fancytext {
	background: url(text.png) no-repeat;
	background-size: 100% 100%;
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	
	text-shadow: none;
}

body {
	font-family: 'Open Sans', sans-serif;
	background: url(color.jpg);
	background-size: cover;
	background-attachment: fixed;
}

.eintracht {
	background: url(eintracht.png) left top;
	background-size: contain;
	transform: translateY(0.25em);
	width: 1.5em; 
	height: 1.5em;
	display: inline-block;
}

.minecraft {
	background: url(minecraft.png) left top no-repeat;
	background-size: auto 100%;
	transform: translateY(0.25em);
	
	padding-left: 2em;
}

#footer {
	position: fixed;
    bottom: 0px;
	height: 2em;
	width: 100%;
	padding: 0.5em;
	text-align: center;
	background-color: DarkSlateBlue;
	color: Lavender;
}

 #footer a {
	color: Lavender;
	text-decoration: underline;
 }

#ARK, #MC {
	height: 27em;
	border: 1px #ddd solid;
	
	position: relative;
	top: 12em;
	
	padding: 1em;
}

.text {
	position: absolute;
	top: 84px; /* 2*36 + 12 */
	overflow: auto;
	
	height: 17em;
	padding: 6px;
	margin: 6px;
	
	color: rgba(255,255,255,0.9);
	text-shadow: 0px 0px 0.25em black;
}

.textfooter {
	font-size: 18px;
	
	position: absolute;
	top: 324px; /* 27em @ 12px */
	width: 100%;
	text-align: center;
	padding-top: 0.5em;

	font-weight: 700;
}

.textfooter a {
	color: rgba(255,255,255,0.9);
	text-shadow: 0px 0px 0.25em black;
	
	text-decoration: underline;
}

#ARK:hover, #MC:hover {
	transform: scale(1.15);
	z-index: 50;
}

/* #ARK:hover + #MC { -webkit-filter: blur(2px); }
#MC:hover! + #ARK { -webkit-filter: blur(2px); } */

.vegas-overlay  {
	background-color: black;
}

::-webkit-scrollbar {
    width: 6px;
}

::-webkit-scrollbar-thumb {
    border-radius: 3px;
    background: rgba(100,100,100,0.8); 
	border: 1px solid rgba(255,255,255,0.8);
}
::-webkit-scrollbar-thumb:window-inactive {
	background: rgba(100,100,100,0.4);
}