* {
    font-family: Arial;
}

div.wipex-panel {
	font-size: 100%;
	padding: 0;
	margin: 15;
}
h2 {
	padding: 3px;
	vertical-align: middle;
}
div {
	margin:10px;
}
.selectors select {
	width:90%;
	height: 650px;
	vertical-align: bottom;
}
img {
	vertical-align:middle;
	padding:0px;
	margin:0px;
}
span.itemLoading {
	vertical-align:top;
	padding:0px;
	margin:0px;
}
div.tdlink {
	font-size: 80%;
	vertical-align: top;
}
td {
	text-align: center;
	vertical-align:top;
}
.logs-rows tr td {
	margin:0px;
	padding:0px;
	border:none;
}
div.logLoader {
	width:95%;
	background-color: #c2c2c2;
	border-radius: 8px;
	color: #000;
	padding: 4px;
	border-style:solid;
	border-width:thin;
	border-color:#727272;
}
div.memberConfig {
	display:none;
	border-style:dashed;
	border-width:thin;
	border-color:red;
	padding:10px;
	background-color: #c2a2a2;
}
div.permsConfig
{
	display:none;
	border-style:dashed;
	border-width:thin;
	border-color:red;
	padding:10px;
	background-color: #c2a2a2;
}
div.grpConfig
{
	display:none;
	border-style:dashed;
	border-width:thin;
	border-color:red;
	padding:10px;
	background-color: #c2a2a2;
}
div.finishedOps {
	display:none;
	border-radius: 8px;
	background-color: #BBD2E0;
	color: #0a0a0a;
	padding: 5 10px;
	margin: 10px 0;
	font-size: 0.9em;
}
p.finishedOps img {
	margin-left:5px;
	vertical-align:middle;
}
p.finishedOps {
	background-image: none;
	margin-left: 7.5%;
}
p.finishedOps a {
	vertical-align: middle;
	clear: both;
}
div.wipex-topbar {
	border-radius: 10px;
	background-color: #536482;
	color: #ffffff;
	margin-top: 10px;
}
div.wipex-container {
	background-color: #a2a2a2;
	margin-left: 7px;
	margin-right: 7px;
	margin-top: 4px;
	border-style:solid;
	border-width:medium;
	border-color:white;
	padding: 4px;
}
table {
	width:100%;
	margin-bottom: 10px;
}
thead.logHead {
	font-family:arial;
	font-size:13px;
	background-color:#ededed;
}
thead.logHead td {
}
a {
	text-decoration:none;
}
a:active {
	position: relative;
	top: 1px;
}
a.action {
	-moz-box-shadow:inset 0px 1px 0px -2px #ffffff;
	-webkit-box-shadow:inset 0px 1px 0px -2px #ffffff;
	box-shadow:inset 0px 1px 0px -2px #ffffff;
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #ededed), color-stop(1, #dfdfdf) );
	background:-moz-linear-gradient( center top, #ededed 5%, #dfdfdf 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ededed', endColorstr='#dfdfdf');
	background-color:#ededed;
	-moz-border-radius:6px;
	-webkit-border-radius:6px;
	border-radius:6px;
	border:1px solid #dcdcdc;
	display:inline-block;
	color:#555555;
	font-family:arial;
	font-size:13px;
	font-weight:bold;
	padding:2px 24px;
	text-decoration:none;
	text-shadow:1px 1px 0px #ffffff;
	margin:5px;
}
a.action:hover {
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #dfdfdf), color-stop(1, #ededed) );
	background:-moz-linear-gradient( center top, #dfdfdf 5%, #ededed 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#dfdfdf', endColorstr='#ededed');
	background-color:#dfdfdf;
}
a.action:active {
	position:relative;
	top:1px;
}
div.rgAddItems {
	display: none;
	margin-top: 10px;
}
div.input-overlay {     
	 display: none;
	 background-color:#536482;
     position: absolute;
     left: 15%;
     top: 15%;
     width:80%;
     height:80%;
     text-align:center;
     z-index: 1000;
     border:1px solid #444;
	border-radius: 20px;
}
.overlay-content {
     width:90%;
     height:85%;
     margin: 20px auto;
	background-color: #d2d2d2;
     padding:15px;
     text-align:center;
     vertical-align:middle;
}
.input-area {
	width:80%;
	height:50%;
}
div.expand-overlay {
	 display: none;
	 background-color:#536482;
     position: absolute;
     left: 30%;
     top: 15%;
     width:40%;
     height:90%;
     text-align:center;
     z-index: 1001;
     border:1px solid #444;
	border-radius: 20px;
}
div.expanded-content {
     width:90%;
     height:85%;
     margin: 20px auto;
	background-color: #d2d2d2;
     padding:15px;
     text-align:center;
     vertical-align:middle;
}
div.expanded-content table {
     width:95%;
     height:95%;
     text-align:center;
     vertical-align:top;
}
div.expanded-content select {
     width:95%;
     height:60%;
}
.hidden {
	display: none;
}

