<table border="0" style="width:1000px; height:100%;" cellpadding="0" cellspacing="0">
	<tr valign="top">
		<td class="header">
		<table style="width:100%; height:100%;" cellpadding="0" cellspacing="0">
			<tr valign="top">
				<td style="width:500px"></td>
				<td>
				<table align="right" style="width:100%; height:100%;" cellpadding="0" cellspacing="0">
					<tr valign="top">
						<td style="text-align:right; height:100%;">
                         <strong>{if $loginstatus === true}<form method="post" action="index.php?site=logout">
							{$smarty.session.loginuser}</strong> <input class="button" type="submit" name="loginuser" value="{$lang['logout']}"/>
						{/if}</form>
						</td>
					</tr>
					<tr>
						<td style="text-align:right; height:30px">
						{if $fastswitch == true}
							<form method="get" action="index.php?site=serverview">
							{if strpos($site, 'edit') == false OR $site == serveredit}
							<input type="hidden" name="site" value="{$site}" />
							{else}
							<input type="hidden" name="site" value="serverview" />
							{/if}
							<select name="port" onchange="submit()">
							{foreach key=key item=server from=$serverlist}
								{if $port == $server['virtualserver_port']}
								<option selected="selected" value="{$server['virtualserver_port']}">{$server['virtualserver_name']}-{$server['virtualserver_port']}</option>
								{else}
								<option value="{$server['virtualserver_port']}">{$server['virtualserver_name']}-{$server['virtualserver_port']}</option>
								{/if}
							{/foreach}
							</select>
							</form>
						{/if}
						</td>
					</tr>
				</table>
				</td>
			</tr>
		</table>
		</td>
	</tr>
</table>