body {
    background-image: url(back3.png);
    background-repeat: repeat;
    margin: 0;
}

div#header {
    background-image: url(oben.png);
    background-repeat: repeat-x;
    height: 72px;
    width: 100%;
}

div#links a div{
    margin-top: 10px;
}



@font-face {
  font-family: mc;
  src: url('http://steph.gpm-server.de/mc.TTF');
  font-size: 18pt;
}

@font-face {
    font-family: "mc_woff";
    src: url("http://steph.gpm-server.de/mc.woff") format('woff');
}

* {
    font-family: mc, mc_woff;
}

a {
    color: #C0C0C0;
    text-shadow: 2px 2px 2px #3F3F3F;
    font-size: 18pt;
    text-decoration: none;
}

a:hover {
    color: #FFFFA0;
}

div#links a div {
    text-align: center;
}

div#links a div {
    background-image: url(http://steph.gpm-server.de/no.png);
    background-repeat: no-repeat;
    height: 40px;
    width: 400px;
}

div#links a div:hover {
    background-image: url(http://steph.gpm-server.de/no_hover.png);
}

div#links {
    width: 400px;
    height: 40px;
    margin-bottom: 10px;
}

div#mini {
    width: 400px;
    height: 40px;
}

div#mini a div {
    background-image: url(mini.png);
    background-repeat: no-repeat;
    height: 40px;
    width: 196px;
}

div#mini a div:hover {
    background-image: url(mini_hover.png);
}

div#mini a {
    width: 196px;
    height: 40px;
}

div#text h1 {
    color: white;
}

div#text {
    color: #D1D1D1;
}

div#section {
    width: 800px;
}

div#section h3 {
    color: #808080;
}
