<form method="get" action="http://gpm.buycraft.net/checkout/packages">
	<input type="hidden" name="direct" value="true">
	<input type="hidden" name="action" value="add">
	<input type="hidden" name="package" value="910689">
	<input type="text" name="ign" value="">
	<input type="submit" value="Buy now">
</form>