body {
    background-image: url(http://image.gpm-server.de/background.jpg);
    background-repeat: no-repeat;
    margin: 0;
    width: auto;
    height: 100%;
	min-width: 1000px;
}

div#header_picture {
margin-top: 30px; padding-top: 50px; background-image: url('http://image.gpm-server.de/head2.png'); background-repeat: no-repeat; padding-bottom: 70px; background-position: center;
}

div#links div {
    margin-top: 10px;
}

@font-face {
  font-family: mc;
  src: url('/mc.TTF');
  font-size: 18pt;
}

@font-face {
    font-family: "mc_woff";
    src: url("/mc.woff") format('woff');
}

* {
    font-family: mc, mc_woff, Arial;
}

a {
    color: #C0C0C0;
    text-shadow: 2px 2px 2px #3F3F3F;
    font-size: 18pt;
    text-decoration: none;
}

a:hover {
    color: #FFFFA0;
}

a div {
    text-align: center;
    margin: auto;
}

a div {
    background-image: url(http://image.gpm-server.de/no.png);
    background-repeat: no-repeat;
    height: 40px;
    width: 400px;
}

a div:hover {
    background-image: url(http://image.gpm-server.de/no_hover.png);
}

div#links {
    width: 800px;
    height: 40px;
    margin-top: 10%;
    margin-bottom: 7%;
}

div#links_section {
    width: 400px;
}

div#nav_serverinfo {
    margin-top: 310px;
    color: #BCBCBC;
    opacity: 0.5;
    width: 300px;
}

div#nav_serverinfo:hover {
    opacity: 1;
}

a#linka {
    color: #BCBCBC;
    font-size: 5pt;
    text-shadow: none;
    text-decoration: underline;
    opacity: 0;    
}

a#linka:hover {
    opacity: 1;
}

div#ip {
    width: 800px;
}

div#nav_serverinfo {
    width: 200px;
    margin-top: 260px;
}

#status {
    color: #FFFF00;
    font-size: 1.5em;
    text-shadow:3px 3px #3F3F00;
    /*position: absolute;*/
	position: relative;
	
}
#status {
    color: #FFFF00;
    font-size: 20pt;
    text-shadow:3px 3px #3F3F00;
    position: absolute;
    margin-left: 0px;
    text-align: center;
}
@keyframes pop {
    from {
        transform:scale(0.95)
    }
    50% {
        transform:scale(1)
    }
    to {
        transform:scale(0.95)
    }
}
@-webkit-keyframes pop {
    from {
        -webkit-transform:scale(0.95)
    }
    50% {
        -webkit-transform:scale(1)
    }
    to {
        -webkit-transform:scale(0.95)
    }
}
.pop {
    animation: pop 0.50s infinite;
    -webkit-animation: pop 0.50s infinite;
}
.tilt {
    -ms-transform: rotate(335deg);
    -webkit-transform: rotate(335deg);
    transform: rotate(335deg);
    width: 330px;
    height: 40px;
}

#lol {
    margin-left: 700px;
    margin-top: -90px;
}