body
	{
	color: #000;
        font: normal normal 0.8em / 1.15em Arial, Tahoma, Helvetica, sans-serif;
	background:url(images/bg_repeat.png) repeat !important;
	}

td
	{
	font-size: 11px;
	}

td.tooltip
	{
	color:#333333;
	}

td.header
	{
	width:1000px;
	height:401px;
	background-image:url(images/header.jpg);
	}

td.mainbar
	{
	width:1000px;
	height:30px;
	background-image:url(images/mainbar.gif);
	}

td.mainbarlink
	{
	padding:0px 20px;
	height:30px;
	}
	
form
	{
	display:inline;
	}
	
a:active, a:visited, a:link
	{
	color:#f88c14;
	text-decoration:none;
	}
a:hover
	{
	color:#ffffff;
	text-decoration:none;
	}

a.headlink:active, a.headlink:visited, a.headlink:link
	{
	color:#f88c14;
	text-decoration:none;
	}

a.headlink:hover
	{
	color:#ffffff;    
        text-decoration: underline;
	}

a.headlinkb:active, a.headlinkb:visited, a.headlinkb:link
	{
	color:#ffffff;
	text-decoration:none;
	}
a.headlinkb:hover
	{
	color:#ffffff;
        text-decoration: underline;
	}	

a.headlinklogout:active, a.headlinklogout:visited, a.headlinklogout:link
	{
	color:#000000;
	text-decoration:none;
	}

a.headlinklogout:hover
	{
	color:#617095;    
        text-decor
}

a.warning:active, a.warning:visited, a.warning:link
	{
	color:red;
	text-decoration:underline;
	font-size:20px;
	}
a.warning:hover
	{
	color:#617095;
	text-decoration:underline;
	font-size:20px;
	font-weight:bold;
	}
	
a.mainbarlink:active, a.mainbarlink:visited, a.mainbarlink:link
	{
	color:#333333;
	text-decoration:none;
	font-size:10px;
	}
a.mainbarlink:hover
	{
	color:#333333;
	text-decoration:none;
	font-size:10px;
	}
.maincat
	{
	background-image:url(images/thead.gif);
	height:23px;
	border:1px solid #CDCDCD;
	color:#ffffff;
	text-align:center;
	}
.subcat
	{
	background:#FFFFFF;
	border:1px solid #CCCCCC;
	color:#333333;
	}
	
.left
	{
	text-align:left;
	}

.center
	{
	text-align:center;
	}

.right
	{
	text-align:right;
	}
td.error
	{
	color:#333333; 
	background-color:#fa8072;
	border:1px solid black;
	font-size:14px;
	}
td.noerror
	{
	color:#333333; 
	background-color:#33FF99;
	border:1px solid black;
	font-size:14px;
	}
.login
	{
	color:#333333;
	}
.loginhead
	{
	color:#ffffff;
	text-shadow: -1px -1px 0px #333333;
	text-align:center;
	font-size:30px;
	}

td.logintop
	{
	background-image:url(images/login_top.gif);
	height:12px;
	width:400px;
	}

td.loginpuff
	{
	background-image:url(images/login_puff.gif);
	width:400px;
	}

td.loginbottom
	{
	background-image:url(images/login_bottom.gif);
	width:400px;
	height:12px;
	line-height:12px;
	}

td.thead
	{
	background-image:url(images/thead.gif);
	color:#ffffff;
	text-align:center;
        font-size:11px;
	border:1px solid #CDCDCD;
	height:25px;
	}

td.green1
	{
	background-image:url(images/1.gif);
	height:20px;
	background:#FFFFFF;
	border:1px solid #CCCCCC;
	border-bottom:0px;
	}
	
td.green2
	{
	background-image:url(images/2.gif);
	background:#b9b9bb;
	height:20px;
	border:1px solid #CCCCCC;
	border-bottom:0px;
	}

td.footer
	{
	text-align:center;
	font-size:11px;
	border-top:1px solid #CCCCCC;
	}
	
table.border
	{
	border:1px solid #CCCCCC;
	border-collapse:collapse;
	}
	
	
input.bild
	{
	border:0px;
	width:168px;
	height:21px;
	padding: 5px 5px 0px 5px;
	background:url(images/input.gif);
	}

input.start
	{
	border:0px;
	width:16px;
	height:16px;
	background:url(images/start.png);
	}
	
input.stop
	{
	border:0px;
	width:16px;
	height:16px;
	background:url(images/stop.png);
	}

input.restart
	{
	border:0px;
	width:16px;
	height:16px;
	background:url(images/restart.gif);
	}

input.view
	{
	border:0px;
	width:16px;
	height:16px;
	background:url(images/view.png);
	}
	
input.eperms
	{
	border:0px;
	width:16px;
	height:16px;
	background:url(images/eperms.png);
	}
	
input.clients
	{
	border:0px;
	width:16px;
	height:16px;
	background:url(images/clients.png);
	}
	
input.button
	{
	border:1px solid black;
	height:20px;
	background:url(images/button.gif);
	}
	
input.select
	{
	border:0px;
	width:16px;
	height:16px;
	background:url(images/select.png);
	}
	
input.delete
	{
	border:0px;
	width:16px;
	height:16px;
	background:url(images/delete.png);
	}
	
input.sbutton
	{
	border:0px;
	background:none
	}
	
input
	{
	background: #FFFFFF;
	border-left:1px solid gray;
	border-top:1px solid gray;
	border-right:1px solid black;
	border-bottom:1px solid black;
	}

a.servername:link, a.servername:active, a.servername:visited
	{
	font-size:14px;
	font-style:normal;
	font-weight:lighter;
	text-decoration:none;
	color:#333333;
	}
a.servername:hover
	{
	font-size:14px;
	font-style:normal;
	font-weight:lighter;
	text-decoration:none;
	color:#0000FF;
	}
a.paging:active, a.paging:visited, a.paging:link
	{
	color:#333333;
	text-decoration:none;
	font-size:12px;
	font-weight:bold;
	}
a.paging:hover
	{
	color:#333333;
	text-decoration:none;
	font-size:12px;
	font-weight:bold;
	}	
	
.warning
	{
	color:red;
	font-size:20px;
	font-weight:bold;
	}

.online
	{
	color:green;
	}

.offline
	{
	color:red;
	}
