div.content
	{
	width:445px;
	background-color:#000000;
	border:1px solid #666666;
	}

div.place
	{
	float:left;
	width:16px;
	height:16px;
	}

div.pwchanimg
	{
	float:left;
	width:16px;
	height:16px;
	background-image:URL(../../../gfx/images/pwchannel.png);
	}
div.chanimg
	{
	float:left;
	width:16px;
	height:16px;
	background-image:URL(../../../gfx/images/channel.png);
	}
div.channame
	{
	float:left;
	height:16px;
	line-height:16px;
	font-size:12px;
	font-weight:lighter;
	}
div.fullimg
	{
	float:left;
	width:16px;
	height:16px;
	background-image:URL(../../../gfx/images/channel_red.png);
	}
div.clear
	{
	clear:both;
	}
div.away_img
	{
	float:left;
	width:16px;
	height:16px;
	background-image:URL(../../../gfx/images/away.png);
	}
div.away_msg
	{
	float:left;
	height:16px;
	line-height:16px;
	font-size:12px;
	font-style:normal;
	font-weight:lighter;
	}
div.hwhead_img
	{
	float:left;
	width:16px;
	height:16px;
	background-image:URL(../../../gfx/images/hwhead.png);
	}
div.hwmic_img
	{
	float:left;
	width:16px;
	height:16px;
	background-image:URL(../../../gfx/images/hwmic.png);
	}
div.head_img
	{
	float:left;
	width:16px;
	height:16px;
	background-image:URL(../../../gfx/images/head.png);
	}
div.mic_img
	{
	float:left;
	width:16px;
	height:16px;
	background-image:URL(../../../gfx/images/mic.png);
	}
div.player_on_img
	{
	float:left;
	width:16px;
	height:16px;
	background-image:URL(../../../gfx/images/player_on.png);
	}
div.player_img
	{
	float:left;
	width:16px;
	height:16px;
	background-image:URL(../../../gfx/images/player.png);
	}
div.player_command_img
	{
	float:left;
	width:16px;
	height:16px;
	background-image:URL(../../../gfx/images/player_commander.png);
	}
div.player_command_on_img
	{
	float:left;
	width:16px;
	height:16px;
	background-image:URL(../../../gfx/images/player_commander_on.png);
	}
div.clientnick
	{
	float:left;
	height:16px;
	line-height:16px;
	font-size:12px;
	font-style:normal;
	font-weight:bold;
	}
div.channel
	{
	height:16px;
	line-height:16px;
	margin-bottom:3px;
	}
div.client
	{
	height:16px;
	line-height:16px;
	margin-bottom:3px;
	}
div.server_img
	{
	float:left;
	width:16px;
	height:16px;
	background-image:URL(../../../gfx/images/server.png);
	}
div.servername
	{
	float:left;
	height:16px;
	line-height:16px;
	font-size:12px;
	font-style:normal;
	font-weight:lighter;
	}